.code_image {
  width: 100%;
  padding: 12rem;
  padding-top: 10rem;
}


.note {
  font-family: 'Poppins';
  color: red;
  letter-spacing: 0.5px;
  background-color: #ff000017;
  text-align: center;
  padding: 2rem;
  margin-top: 3rem;
}

.link {
  padding-top: 3rem;
  font-family: 'Poppins';
  font-size: 18px;
  letter-spacing: 0.5px;
  text-align: center;
}
