<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h2 style="padding-top: 15rem; text-align: center; font-size: 60px;">Please scan QR code and pay your <span style="color:#ff0000"> payment...!!</span></h2>
      <div class="link">After payment you will get web link..!</div>
      <div class="note">Note : Once please verify before your payment..!!</div>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div><img src="../../../assets/images/WhatsApp.jpeg" class="code_image" alt="payment" /></div>
    </div>
  </div>
</div>

<section id="footer">
  <p>Copyright © 2022 Home Live Events Streaming Solutions. All Rights Reserved.</p>
</section>

