<div class="container" id="order-standard_cart">
  <div class="container">
    <div class="row">
      <div class="col-md-3 sidebar hidden-xs hidden-sm">
        <div menuitemname="Categories" class="panel panel-sidebar">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fas fa-shopping-cart"></i>&nbsp;
              Categories
              <i class="fas fa-chevron-up panel-minimise pull-right"></i>
            </h3>
          </div>
          <div class="list-group">
            <a menuitemname="LiveStreaming" href="/cart.php?gid=1" class="list-group-item active"
               id="Secondary_Sidebar-Categories-LiveStreaming">
              Live Streaming
            </a>
          </div>
        </div>
        <div menuitemname="Actions" class="panel panel-sidebar">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fas fa-plus"></i>&nbsp;

              Actions


              <i class="fas fa-chevron-up panel-minimise pull-right"></i>
            </h3>
          </div>


          <div class="list-group">
            <a menuitemname="View Cart" href="/cart.php?a=view" class="list-group-item"
               id="Secondary_Sidebar-Actions-View_Cart" style=" font-family: 'Poppins'; font-size: 15px; font-weight: bold; color: #2d2d2d;">
              <i class="fas fa-shopping-cart fa-fw"></i>&nbsp;

              View Cart

            </a>
          </div>

        </div>

      </div>

      <div class="col-md-9 pull-md-right">

        <div class="header-lined">
          <h2>
            Live Streaming Websites
          </h2>
          <p>Live Streaming Websites for Professionals...!</p>
        </div>
        <div class="categories-collapsed visible-xs visible-sm clearfix">

          <div class="pull-left form-inline">
            <form method="get" action="/cart.php">
              <select name="gid" onchange="submit()" class="form-control">
                <optgroup label="Product Categories">
                  <option value="1" selected="selected">LiveStreaming</option>
                </optgroup>
                <optgroup label="Actions">
                  <option value="viewcart">View Cart</option>
                </optgroup>
              </select>
            </form>
          </div>


        </div>


        <div class="products" id="products">
          <div class="row row-eq-height">
            <div class="col-md-6">
              <div class="product clearfix" id="product1">
                <header>
                  <span id="product1-name">DVR Live + Instant Video (1200 Kbps)</span>
                </header>
                <div class="product-desc">
                  <p class="p_text" id="product1-description">
                    DVR Live + Instant DVR Video with 3 months backup, Multi RTMP Servers, Customizable
                    banner with photo album, Chat, Logo, Scrolling Text, Embed Code with HTTPS,
                    Unlimited Viewers for Private Events. (+ Free Youtube).<br>

                  </p>
                  <ul>
                  </ul>
                </div>
                <footer>
                  <div class="product-pricing" id="product1-price">
                    <span class="price">₹600 INR</span>
                    <br>
                    <br>
                  </div>
                  <a routerLink="/choosedomain" class="g_button btn-sm"
                     id="product1-order-button">
                    <i class="fas fa-shopping-cart"></i>
                    Order Now
                  </a>
                </footer>
              </div>
            </div>
            <div class="col-md-6">
              <div class="product clearfix" id="product2">
                <header>
                  <span id="product2-name">HD Live + Recording (720p - 1000 Kbps)</span>
                </header>
                <div class="product-desc">
                  <p class="p_text" id="product2-description">
                    HD Live + 3 Months Recorded Video, Multi RTMP Servers, Customizable banner with
                    photo album, Chat, Logo, Scrolling Text, Player with Embed Code, Unlimited Viewers
                    for Private Events. (+Free Youtube).<br>

                  </p>
                  <ul>
                  </ul>
                </div>
                <footer>
                  <div class="product-pricing" id="product2-price">
                    <span class="price">₹500 INR</span>
                    <br>
                    <br>
                  </div>
                  <a routerLink="/choosedomain" class="g_button btn-sm"
                     id="product2-order-button">
                    <i class="fas fa-shopping-cart"></i>
                    Order Now
                  </a>
                </footer>
              </div>
            </div>
          </div>
          <div class="row row-eq-height">
            <div class="col-md-6">
              <div class="product clearfix" id="product3">
                <header>
                  <span id="product3-name">Only Live + YouTube (720p - 1000 Kbps)</span>
                </header>
                <div class="product-desc">
                  <p class="p_text" id="product3-description">
                    Live on paid SHARED/ YouTube(+Recording)/Own server, Website with 20 themes, photos
                    , Logo, Scrolling Text, Embed Code, Unlimited Viewers. Hosting for 3 Months*<br>
                    *Shared / Own / YouTube Server *<br>

                  </p>
                  <ul>
                  </ul>
                </div>
                <footer>
                  <div class="product-pricing" id="product3-price">
                    <span class="price">₹300 INR</span>
                    <br>
                    <br>
                  </div>
                  <a routerLink="/choosedomain" class="g_button btn-sm"
                     id="product3-order-button">
                    <i class="fas fa-shopping-cart"></i>
                    Order Now
                  </a>
                </footer>
              </div>
            </div>
            <div class="col-md-6">
              <div class="product clearfix" id="product4">
                <header>
                  <span id="product4-name">FHD Live + Recording SSL (1000 Kbps)</span>
                </header>
                <div class="product-desc">
                  <p class="p_text" id="product4-description">
                    Full HD Live + 3 Months Recorded Video, Multi RTMP Servers, Customizable banner with
                    photo album, Chat, Logo, Scrolling Text, Embed Code with HTTPS, Unlimited Viewers
                    for Private Events. (+ Free Youtube).<br>

                  </p>
                  <ul>
                  </ul>
                </div>
                <footer>
                  <div class="product-pricing" id="product4-price">
                    <span class="price">₹600 INR</span>
                    <br>
                    <br>
                  </div>
                  <a routerLink="/choosedomain" class="g_button btn-sm"
                     id="product4-order-button">
                    <i class="fas fa-shopping-cart"></i>
                    Order Now
                  </a>
                </footer>
              </div>
            </div>
          </div>
          <div class="row row-eq-height">
          </div>
        </div>
      </div>
    </div>
  </div>
   
</div>
