<section id="main-body">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div><img src="assets/images/f_p.png" style="width:100%;padding-top:2rem;" /></div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <br /><br /><br />
        <h2 style="margin-top:10rem;">Lost Password Reset</h2>
        <div class="f_p_text">Forgotten your password? Enter your email address below to begin the reset process.</div>
        <div class="email_id">Please Enter Your Email Address</div>
        <input type="tel" id="phone" name="phone" placeholder="Please enter your Email ID" class="text_box">
        <div><button class="g_button">Submit</button></div>
      </div>
    </div>
  </div>
  </section>

<section id="footer">

  <p>Copyright © 2022 Home Live Events Streaming Solutions. All Rights Reserved.</p>

</section>
