.f_p_text {
  font-family: 'Poppins';
  letter-spacing: 0.5px;
  padding-right: 8rem;
  line-height: 2;
}

.email_id {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 19px;
  padding-top: 3rem;
  letter-spacing: 0.5px;
}

.text_box {
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 50px;
  width: 60%;
  font-family: 'Poppins';
  letter-spacing: 0.5px;
}

.g_button {
  background-color: #ff0000;
  border: none;
  padding: 1rem;
  font-family: "Poppins";
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 0;
  width: 11rem;
  margin-top: 2rem;
  margin-left: 10rem;
}

.g_button:hover {
  background-color: #ff0000;
  border: none;
  padding: 1rem;
  font-family: "Poppins";
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 0;
  width: 11rem;
  margin-top: 2rem;
  margin-left: 10rem;
}
